<div class="container">
    <footer class="fixed-bottom d-flex flex-wrap justify-content-between align-items-center py-1 px-4 m-0 mx-auto">
        <p class="col-md-4 mb-0 text-muted">© 2022 hexfloo</p>

        <a href="/"
            class="unique-a col-md-4 d-flex align-items-center justify-content-center mb-0 mb-md-0 me-md-auto link-dark text-decoration-none">
            Leave Me a Note &#x1F4D7
        </a>

        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="https://github.com/Hexfloo" target="_blank"
                    class="nav-link px-2 link-secondary">Github</a></li>
            <li class="nav-item"><a href="https://www.linkedin.com/in/shoham-palmer/" target="_blank"
                    class="nav-link px-2 link-secondary">LinkedIn</a></li>
        </ul>
    </footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</body>

</html>
