<%- include("partials/boilerplate-navbar") %>
    <div class="container post-container my-4 py-3 px-4">



        <h2 class="pb-0 mb-1 fw-bold">Add New Note</h2>
        <p class="">I would love it if you left me a note!<br>
            What is your favourite song? What is the strangest thing in your refrigerator? Tell me anything!

        </p>

        <form action="/compose" method="post">

            <div class="mb-2">
                <label for="submissionTitle" class="form-label">Note Title</label>
                <input type="text" class="form-control" name="submissionTitle" required>
            </div>
            <div class="mb-2">
                <label for="submissionAuthor" class="form-label">Note Author</label>
                <input type="text" class="form-control" name="submissionAuthor" required>
            </div>
            <div class="mb-2">
                <label for="submissionText" class="form-label">Note</label>
                <textarea rows="3" cols="20" type="text" class="form-control" name="submissionText" required></textarea>
            </div>
            <button type="submit" class="btn btn-secondary mt-1">Publish</button>
        </form>

    </div>



    <%- include("partials/footer") %>
