<%- include("partials/boilerplate-navbar") %>

    <div class="container mt-4 mb-2 pb-5">
        <h2 class="mb-1 pb-0">
            <%= title %>
        </h2>
        <p>
            <%= text %>
        </p>

    </div>


    <%- include("partials/footer") %>